{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block styles %}
    <style>
        label {
            display: inline-block;
            width: 200px; /* Задаем одинаковую ширину для всех меток полей */
        }
    </style>
{% endblock %}
{% block content %}
    <form method="post" class="login-form"> <!-- Применяем класс "login-form" -->
        <h2>Изменение пароля</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-button">Изменить пароль</button> <!-- Применяем класс "login-button" -->
    </form>
{% endblock %}
