{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form method="post" class="login-form">
        <h2>Вход</h2>
        {% csrf_token %}
        <label for="id_username">Пользователь:</label>
        {{ form.username }}
        <label for="id_password">Пароль:</label>
        {{ form.password }}
        <button type="submit" class="login-button">Войти</button>
    </form>
</body>
</html>
