{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <style>
        table {
            width: 100%; /* Установка ширины таблицы на 100% от родительского контейнера */
        }

        th:first-child, td:first-child {
            width: 35%; /* Ширина первого столбца 35% от ширины таблицы */
        }

        th:last-child, td:last-child {
            width: 65%; /* Ширина второго столбца 65% от ширины таблицы */
        }

        textarea {
            width: 100%; /* Установка ширины TextArea на 100% от родительского контейнера (второго столбца) */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="report-list">
            <!-- Основная информация -->
            <h2>Основные данные</h2>
            <table onclick="redirectToEditPage();">
                <tr>
                    <th>Филиал:</th>
                    <td>{{ tpir.department.name }}</td>
                </tr>
                <tr>
                    <th>Объект:</th>
                    <td>{{ tpir.facility.name }}</td>
                </tr>
                <tr>
                    <th>Номер предписания:</th>
                    <td>{{ tpir.directive_number }}</td>
                </tr>
                <tr>
                    <th>Дата предписания:</th>
                    <td>{{ tpir.directive_date|date:"d.m.Y" }}</td>
                </tr>
                <tr>
                    <th>Срок устранения:</th>
                    <td>{{ tpir.directive_end_date|date:"d.m.Y" }}</td>
                </tr>
                <tr>
                    <th>Категория опасности:</th>
                    <td>{{ tpir.get_danger_display }}</td>
                </tr>
                <tr>
                    <th>Вид работ:</th>
                    <td>{{ tpir.get_type_tpir_display }}</td>
                </tr>
                <tr>
                    <th>Наименование мероприятия:</th>
                    <td>{{ tpir.remedial_action }}</td>
                </tr>
                <tr>
                    <th>Орган исполнительной власти:</th>
                    <td>{{ tpir.directive_executive }}</td>
                </tr>
                <tr>
                    <th>Имеющиеся недостатки:</th>
                    <td>{{ tpir.existing_shortcomings }}</td>
                </tr>
            </table>

            <!-- Финансовая информация -->
            <h2>Финансирование</h2>
            <table onclick="redirectToEditPage();">
                {% for finance in finances %}
                    <tr>
                        <th>{{ finance.year }} год:</th>
                        <td>{{ finance.amount|default:"0" }} руб.</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">Нет финансовых данных</td>
                    </tr>
                {% endfor %}
            </table>
            <!-- Вложения -->
            <h2>Прикрепленные файлы</h2>
            <table>
                {% if tpir.has_attachments %}
                    <thead>
                        <tr>
                            <th style="width: 70%">Имя файла</th>
                            <th style="width: 30%">Дата загрузки</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in tpir.attached_files.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'tpir:download_file' file.id %}">
                                        {{ file.get_filename }}
                                    </a>
                                </td>
                                <td>{{ file.uploaded_at|date:"d.m.Y H:i" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <a href="{% url 'tpir:manage_attach' tpir.id %}" style="display: inline-block; text-decoration: none;">
                                    <button type="button" style="background-color: #28a745; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease; margin-top: 10px;">
                                        Управление вложениями
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <p>Нет прикрепленных файлов</p>
                        </td>
                    </tr>
                {% endif %}
            </table>
            <!-- Дополнительная информация -->
            <h2>Дополнительно</h2>
            <table>
                <tr>
                    <th>Создал:</th>
                    <td>{{ tpir.created_by.get_full_name }} ({{ tpir.created_at|date:"d.m.Y H:i" }})</td>
                </tr>
                {% if tpir.updated_by %}
                    <tr>
                        <th>Обновил:</th>
                        <td>{{ tpir.updated_by.get_full_name }} ({{ tpir.updated_at|date:"d.m.Y H:i" }})</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <script>
        function redirectToEditPage() {
            window.location.href = '{% url 'tpir:tpir_edit' pk=tpir.id %}';
        }
    </script>
{% endblock %}

{% block buttons %}
    <div class="actions">
        <!-- Кнопка "Редактировать" -->
        <a href="{% url 'tpir:tpir_edit' pk=tpir.id %}" class="action-link">
            <button type="button">Редактировать</button>
        </a>
        <!-- Кнопка "Назад к списку отчётов" -->
        <a href="{% url 'tpir:tpir_list' %}" class="action-link">
            <button type="button">Назад к списку отчётов</button>
        </a>
        <!-- Кнопка "Вернуться на Главную" -->
        <a href="{% url 'dashboard:dashboard' %}" class="action-link">
            <button type="button">Вернуться на Главную</button>
        </a>
    </div>
{% endblock %}
